
.CartContainer{
	width: 70%;
	background-color: #ffffff;
	border:None;
    border-radius: 20px;
	border: 1px solid #d6d6d6;
	margin-left: 225px;
	margin-bottom: 20px;
    padding-bottom:20px;
}

.Header{
	margin: auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.Heading{
	font-size: 24px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
}

.Action{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
    border-bottom: 1px solid #E44C4C;
    transition: color 0.3s;

}
.Action:hover{
    color: purple;
    border-color:purple;
}

.Cart-Items{

	margin: auto;
	margin-top: 10px;
	width: 90%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.image-box{

	width: 15%;
	text-align: center;
}
.about{
	height: 100%;
	width: 50%;
}
.title{
	padding-top: 10px;
	margin-bottom: 15px;
	line-height: 10px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.subtitle{
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}
.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.prices{
    padding-top: 25px;
    height: 100%;
	text-align: right;
	float:bottom;

}
.amount{
	padding-top: 5px;

	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
    width: 68px;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	transition: color 0.3s;
	float:right;
}
.remove:hover{
    color: purple;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 100%;
	margin-right: 5%;
}
.checkout{
	float: center;
	width: 40%;
	margin-left: auto;
    margin-right: auto
}
.total{
	width: 100%;
    display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 24px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}
.button:hover{
}
.product-img {
        transition: 0.3s ease-in-out;
        height: 100%;
        max-height: 260px;
        max-width: 260px;
        min-height: 260px;
        min-width: 260px;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
 }
        .product-img:hover {
           transform: scale(1.03);
        }
.product-img img {
            height: 270px;
            max-width: 100%;
            width: auto;
        }
