.d-block, .nav, .nav-link{
    font-size: 18px;
    border: None;
    border-radius: 5px;
    background-color: white;
    transition: background 0.3s;
    }
.pages{
    padding-right: 5px;
}
.d-block:hover, .nav-link:hover {
    background-color: rgb(217, 217, 217);
}