<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css')}}">
    <title>{{phone[0].brand}} {{phone[0].model}}</title>

    <style>
      h1{
        text-align: center;
        padding-top:100px;
      }
    </style>

</head>
<script>
    if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
    }
</script>

<body>
{% extends "base.html" %}
{% block body %}
{%for phone in phone%}

<!-- Left Column / Headphones Image -->
<div class="box">
    <div class="left-column">
        <img data-image="black" src="images/black.png" alt="">
        <img data-image="blue" src="images/blue.png" alt="">
        <img data-image="red" class="active" src="{{phone.image}}" alt="">
    </div>

    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <h5><b>{{phone.brand}} {{phone.model}}</b></h5>
            <h5 style="font-size: 34; margin-top: -5px;   letter-spacing: 1px;">
                ({{phone.color_title}})</h5>
            <div class="characteristics" style="font-size: 18;   font-weight: 380;">
                <div class="text" style="margin-top: -20px; margin-bottom: 10px;">
                    <br>Операционная система: {{phone.OS}}
                    <br>Год выпуска: {{phone.year}}
                    <br>Диагональ экрана (дюйм): {{phone.diagonal}}
                    <br>Кол-во ядер: {{phone.cores}}
                    <br>Оперативная память: {{phone.RAM}} ГБ
                    <br>Встроенная память: {{phone.memory}} ГБ
                    <br>Кол-во SIM-карт: {{phone.SIM}}
                    <br>NFC: {{phone.NFC}}
                </div>
            </div>
        </div>
        <!-- Product Configuration -->
        <div class="product-configuration">
            <!-- Product Color -->
            <div class="product-color">
                {% if colors_count > 1 %}
                <form style="margin-bottom: 0px;" action="/colors" method="POST">
                    <input type="hidden" name="phone_model" value="{{phone.model}}">
                    <button class="cart-btn" >Другие цвета...</button>
                </form>
                {% else %}
                <form style="margin-bottom: 0px;"  method="POST">
                    <button disabled class="cart-btn">Единственный цвет</button>
                </form>
                {% endif %}
            </div>

        </div>

        <!-- Product Pricing and Count-->
        {%if user_session == True%}
        {%if in_cart == phone.id%}
        <form style="margin-bottom: 0px;" action="/add_to_cart" method="POST">
            <label style="margin-bottom: 5px; font-size: 18px;">Количество:</label>
            <input style="width: 60px;" disabled type="number" name="count" value="{{in_cart_count}}" min="1" max="10">
        </form>

        <form action="/delete_from_cart" method="POST">
            <div class="product-price">
                <span>₽ {{phone.price}}</span>
                <input type="hidden" name="phone_id" value="{{phone.id}}">
                <input type="hidden" name="phone_color" value="{{phone.color_title}}">
                <button class="cart-btn-delete">Удалить из корзины</button>
            </div>
        </form>

        {%else%}
        <form style="margin-bottom: 0px;" action="/add_to_cart" method="POST">
            {%if phone.count > 10%}
            <label style="margin-bottom: 5px; font-size: 18px;">Количество:</label>
            <input style="width: 60px;" type="number" name="phone_count" value="1" min="1" max="10">
            {%else%}
            <label style="margin-bottom: 5px; font-size: 18px;">Количество:</label>
            <input style="width: 60px;" type="number" name="count" value="1" min="1" max="{{phone_count[0].count}}">
            {%endif%}
            <div class="product-price">
                <span>₽ {{phone.price}}</span>
                <input type="hidden" name="phone_id" value="{{phone.id}}">
                <input type="hidden" name="phone_color" value="{{phone.color_title}}">
                <button class="cart-btn">В корзину</button>
            </div>
        </form>
        {%endif%}
        {%else%}
        <form style="margin-bottom: 0px;" action="/add_to_cart" method="POST">
            <label style="margin-bottom: 5px; font-size: 18px;">Количество:</label>
            <input style="width: 60px;" disabled type="number" name="count" value="{{phones_count}}" min="1" max="10">
        </form>
        <div class="product-price">
            <span>₽ {{phone.price}}</span>
            <button disabled class="cart-btn"
                    style="background-color: grey;">В корзину
            </button>
        </div>
        <h6 style="text-align: right;">Войдите в аккаунт</h6>

        {%endif%}
    </div>
</div>
{%endfor%}

{% endblock %}
</body>
